/* General Styles */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Dashboard Styles */
.dashboard {
  padding: 20px;
}

.chart-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
  width: 100%;
}

.emission-summary {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 20px;
  font-size: 1.2em; 
}

.warning {
  color: red;
}

.recommendation-details {
  margin-top: 20px;
}

.recommendation-image {
  max-width: 100%; 
  height: auto;
  margin: 10px 0;
  border-radius: 10px; 
}

/* Button Styles */
.button-primary {
  margin-top: 20px;
  width: 100%;
  text-align: center;
}

.button-success {
  margin-top: 10px;
  width: 100%;
  text-align: center;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .chart-container {
    width: 100%;
    height: auto;
  }

  .emission-summary {
    font-size: 1em;
  }
}

@media (max-width: 480px) {
  .chart-container {
    width: 100%;
    height: auto;
  }

  .emission-summary {
    font-size: 0.9em;
  }
}
